*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: 'Poppins', sans-serif;


}

.main{
    width: 100%;
    min-height:120vh;
    background-image: url('nano-cars.png');
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    top: 0;
    left: 30%;
    max-width: 80px;
    height: auto;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    text-decoration: none;
    color: #666;
    font-weight: 400;
}
.login-btn{
    text-decoration: none;
    color: #666;
    margin-right: 15px;
    font-weight: 400;

}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #4d0320, #4d0320);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}
.content{
    margin-top: 10%;
    max-width: 600px;
    color: #fff;
}

.content h1{
    font-size: 70px;
    color: #fff;
}

.content p{
    margin: 10px 0 30px;
    color: #fff;
    animation-delay: 0.5s;
}

.content .btn{
    padding: 15px 80px;
    font-size: 16px;
      animation-delay: 1s;
}

.btn:hover{
    border-top-right-radius: 30px;
}

.features{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80vh;
    height: auto;
    filter: brightness(70%);
}

.features-img.anim{
      animation-delay: 3s;
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

img{
    max-width: 100%;
    height: auto;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
        
    }
}
 
@media (max-width: 768px) {
    .content h1 {
        font-size: 36px;
    }
    .features {
        width: 100%;
    }
}


